#paint_canva {
  border: solid 2px black;
}

.colors_container {
  display: flex;
  gap: 14px;
  padding: 10px 0;
}

.colors_picker {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 600px;
}

form div:first-child {
  display: flex;
  flex-direction: column;
  width: 150px;
}

form input[type="button"] {
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 20px;
}