body {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  overflow: hidden;
}

.fixed {
  height: 20vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------------*/

#paint_canva {
  height: 80vh;
  width: 100vw;
  display: block;
  border: 2px solid black;
}

.colors_container {
  display: flex;
  gap: 14px;
  padding: 10px 0;
}

.colors_picker {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 600px;
}

form div:first-child {
  display: flex;
  flex-direction: column;
  width: 150px;
}

form input[type="button"] {
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 20px;
}